:ruby
  table_dom_id = SecureRandom.hex

.table-responsive
  %table.table.table-hover{:id => table_dom_id, :data => {:toggle => 'table',
    :pagination => 'false',
    :show_pagination_switch => 'false',
    :search => 'false',
    :show_export => 'false',
    :show_columns => 'false',
    :show_toggle => 'false'}}
    %thead
      %tr
        %th.center{:data => {:sortable => 'true'}} Audit
        %th.center{:data => {:sortable => 'true'}} Activity
        %th.center{:data => {:sortable => 'true'}} Updated At

    %tbody
      - audits.each do |a|
        %tr
          %td.left.nowrap= link_to a.name, audit_path(a)
          %td.left= link_to a.activity, activity_path(a.activity) if a.activity.present?
          %td.center.nowrap= format_as_date(a.updated_at)
