.page-header
  %h2 Audits

.row
  .col-sm-12
    = render 'search_form'

.row
  .col-sm-12
    - if @audits.empty?
      %p No matching audits found
    - else
      %p Found #{@audits.count} matching audits
      = render :partial => 'index_table', :locals => {:audits => @audits}
