.col-sm-12.col-md-10.col-md-offset-1
  .page-header
    %h2 Audit Results

  .row
    .col-sm-12
      = render 'search_form'

  .row
    .col-sm-12
      - if @audit_results.empty?
        %p No matching audit results found
      - else
        %p Found #{@audit_results.count} matching activities
        = render :partial => 'index_table', :locals => {:audit_results => @audit_results}
